<section class="banner-custon">
    <div class="top-header">
        <span class="website-name">Tisso Vison</span>
        <span class="text">Find the ideal find for your loved ones.</span>
        <a href="#" class="top-button">Choose Gift</a>
    </div>
</section>