{% schema %}
{
    "name": "Gift Guide",
    "settings":[],
    "blocks":[],
    "presets": [
        {
            "name": "Gift Guide"
        }
    ]

}
{% endschema %}

<section class="gift-guide">
    <div class="gift-guide_content">
        <h2 class="gift-guide_title">The Gift Guide</h2>
        <p class="gift-guide_text">Discover joy: your ultimate holiday gift destination. Explore our curated selection and find the perfecct gifts to delight your loved ones this holiday season.
        </p>
        <a href="#" class="gift-guide_btn">SHOP NOW
            <img src="{{ 'icon-arrow.svg' | asset_url }}" height="16px" width="16px" alt= "arrow" class= "gift-guide_arrow">
        </a>
        <p>SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZE XXS TO 6XL</p>
    </div>

    <div class="gift-guide_art">

    </div>

</section>        