{% schema %}
{
    "name": "Gift Guide",
    "settings":[],
    "blocks":[],
    "presets": [
        {
            "name": "Gift Guide"
        }
    ]

}
{% endschema %}




<section class="gift-guide">
    <div class="gift-guide_announcement">
        <div class="announcement_left">Tisso Vision
        </div>
        <div class="announcement_center">Find the ideal gift for your loved ones</div>
        <div class="announcement_right">
            <a href="#" class="announcement_btn">CHOOSE GIFT
                <span class="announcement_arrow">
                 <img src="{{ 'icon-arrow.svg' | asset_url }}" height="16px" width="16px" alt= "arrow">
                 </span>
            </a>
        </div>
    </div>
    <div class="gift-guide_content">
        <h2 class="gift-guide_title">The Gift Guide</h2>
        <p class="gift-guide_text">Discover joy: your ultimate holiday gift destination. Explore our curated selection and find the perfecct gifts to delight your loved ones this holiday season.
        </p>
        <a href="#" class="gift-guide_btn">SHOP NOW
            <span class="gift-guide_arrow">
            <img src="{{ 'icon-arrow.svg' | asset_url }}" height="16px" width="16px" alt= "arrow">
            </span>
        </a>

        <div class="gift-guide_frame">
            <img src="{{ 'Frame.svg' | asset_url }}" alt="Decorative bg" height="100%" width="100%">
        </div>

    </div>

</section>  

<div class="endline">
<p class="tagline">SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZE XXS TO 6XL</p>
</div>