{% schema %}
{
    "name": "Gift Guide",
    "settings":[],
    "blocks":[],
    "presets": [
        {
            "name": "Gift Guide"
        }
    ]

}
{% endschema %}

<section class="gift-guide">
    <div class="gift-guide_content">
        <h2 class="gift-guide_title">The Gift Guide</h2>
        <p class="gift-guide_text">Discover joy: your ultimate holiday gift destination. Explore our curated selection and find the perfecct gifts to delight your loved ones this holiday season.
        </p>
        <a href="#" class="gift-guide_btn">SHOP NOW
            <img src="{{ 'icon-arrow.svg' | asset_url}}"
            alt="arrow"
            class="gift-guide_arrow">
        </a>
    </div>

    <div class="gift-guide_art">

    </div>

</section>        