.top-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #f0f0f0;
}

.top-header .text{
    margin: 0 10px;
}

.top-header .top-button{
    background:rgb(255, 217, 0);
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}


